.App {
  text-align: center;
}

.hero{
  height: 600px;
  background-color: cadetblue;
}
.services{
  height: 600px;
  background-color: rgb(145, 95, 160);
}
.blog{
  height: 600px;
  background-color: greenyellow;
}
.contacts{
  height: 600px;
  background-color: pink;
}

.link{
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 700;
  font-size: large;
  cursor: pointer;

}

.top-btn-position{
  position: fixed;
  bottom: 15px;
  right: 40px;
  height: 7vh;
  width: 7vh;
  border-radius: 25%;
  background-color: #fff;
  cursor: pointer;
  border: 2px solid #333;
}



.top-btn-position:hover{
  background-color: #ed2d2d;
  color: #fff;
  border: 2px solid #fff;

}
